<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Shopfloor.Notification</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="oi oi-plus" aria-hidden="true"></span> Chat hub
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StatusImport">
                <span class="oi oi-plus" aria-hidden="true"></span> StatusImportHub
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StatusImportArticle">
                <span class="oi oi-plus" aria-hidden="true"></span> StatusImportArticleHub
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StatusImportDetail">
                <span class="oi oi-plus" aria-hidden="true"></span> StatusImportDetailHub
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="StatusExport">
                <span class="oi oi-plus" aria-hidden="true"></span> StatusExportHub
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="StatusExportArticle">
                <span class="oi oi-plus" aria-hidden="true"></span> StatusExportArticleHub
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="StatusExportDetail">
                <span class="oi oi-plus" aria-hidden="true"></span> StatusExportDetailHub
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
