################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/shareds/Shopfloor.Core/bin
/src/shareds/Shopfloor.Core/obj
/src/shareds/Shopfloor.EventBus/bin
/src/shareds/Shopfloor.EventBus/obj
/src/shareds/Shopfloor.FileStorage/obj
/src/shareds/Shopfloor.Integration/bin
/src/shareds/Shopfloor.Integration/obj
/src/services/business/barcode/Shopfloor.Barcode.Api/bin
/src/services/business/master/Shopfloor.Master.Api/bin
/src/services/business/master/Shopfloor.Master.Api/obj
/src/services/business/master/Shopfloor.Master.Application/bin
/src/services/business/master/Shopfloor.Master.Application/obj
/src/services/business/master/Shopfloor.Master.Domain/bin
/src/services/business/master/Shopfloor.Master.Domain/obj
/src/services/business/master/Shopfloor.Master.Infrastructure/bin
/src/services/business/master/Shopfloor.Master.Infrastructure/obj
/src/services/business/material/Shopfloor.Material.Api/bin
/src/services/business/material/Shopfloor.Material.Api/obj
/src/services/business/material/Shopfloor.Material.Application/bin
/src/services/business/material/Shopfloor.Material.Application/obj
/src/services/business/material/Shopfloor.Material.Domain/bin
/src/services/business/material/Shopfloor.Material.Domain/obj
/src/services/business/material/Shopfloor.Material.Infrastructure/bin
/src/services/business/material/Shopfloor.Material.Infrastructure/obj
/src/services/business/ied/Shopfloor.IED.API/obj
/src/services/business/ied/Shopfloor.IED.Application/obj
/src/services/business/ied/Shopfloor.IED.Domain/obj
/src/services/business/ied/Shopfloor.IED.Infrastructure/obj
/src/services/business/ied/Shopfloor.IED.Application/bin
/src/services/business/ied/Shopfloor.IED.API/bin
/src/services/business/ied/Shopfloor.IED.Domain/bin
/src/services/business/ied/Shopfloor.IED.Infrastructure/bin
/src/shareds/Shopfloor.Cache/bin
/src/shareds/Shopfloor.Cache/obj
/src/services/business/barcode/Shopfloor.Barcode.Api/obj
/src/services/business/barcode/Shopfloor.Barcode.Application/obj
/src/services/business/barcode/Shopfloor.Barcode.Domain/obj
/src/services/business/barcode/Shopfloor.Barcode.Infrastructure/obj
/src/services/business/barcode/Shopfloor.Barcode.Application/bin
/src/services/business/barcode/Shopfloor.Barcode.Infrastructure/bin
/src/services/business/barcode/Shopfloor.Barcode.Domain/bin
/src/services/business/consumption/Shopfloor.Consumption.Api/bin
/src/services/business/consumption/Shopfloor.Consumption.Api/obj
/src/services/business/consumption/Shopfloor.Consumption.Application/bin
/src/services/business/consumption/Shopfloor.Consumption.Application/obj
/src/services/business/consumption/Shopfloor.Consumption.Domain/bin
/src/services/business/consumption/Shopfloor.Consumption.Domain/obj
/src/services/business/consumption/Shopfloor.Consumption.Infrastructure/bin
/src/services/business/consumption/Shopfloor.Consumption.Infrastructure/obj
/src/services/business/inspection/Shopfloor.Inspection.Api/bin
/src/services/business/inspection/Shopfloor.Inspection.Api/obj
/src/services/business/inspection/Shopfloor.Inspection.Application/bin
/src/services/business/inspection/Shopfloor.Inspection.Application/obj
/src/services/business/inspection/Shopfloor.Inspection.Domain/bin
/src/services/business/inspection/Shopfloor.Inspection.Domain/obj
/src/services/business/inspection/Shopfloor.Inspection.Infrastructure/bin
/src/services/business/inspection/Shopfloor.Inspection.Infrastructure/obj
/src/services/business/planning/Shopfloor.Planning.Api/bin/Debug
/src/services/business/planning/Shopfloor.Planning.Api/obj
/src/services/business/planning/Shopfloor.Planning.Application/bin
/src/services/business/planning/Shopfloor.Planning.Application/obj
/src/services/business/planning/Shopfloor.Planning.Domain/bin
/src/services/business/planning/Shopfloor.Planning.Domain/obj
/src/services/business/planning/Shopfloor.Planning.Infrastructure/bin
/src/services/business/planning/Shopfloor.Planning.Infrastructure/obj
/src/services/business/production/Shopfloor.Production.Api/bin
/src/services/business/production/Shopfloor.Production.Api/obj
/src/services/business/production/Shopfloor.Production.Application/bin
/src/services/business/production/Shopfloor.Production.Application/obj
/src/services/business/production/Shopfloor.Production.Domain/bin
/src/services/business/production/Shopfloor.Production.Domain/obj
/src/services/business/production/Shopfloor.Production.Infrastructure/bin
/src/services/business/production/Shopfloor.Production.Infrastructure/obj
/src/services/functional/notification/Shopfloor.Notification.Api/bin
/src/services/functional/notification/Shopfloor.Notification.Api/obj
/src/services/functional/notification/Shopfloor.Notification.Application/bin
/src/services/functional/notification/Shopfloor.Notification.Application/obj
/src/services/functional/notification/Shopfloor.Notification.Domain/bin
/src/services/functional/notification/Shopfloor.Notification.Domain/obj
/src/services/functional/notification/Shopfloor.Notification.Infrastructure/bin
/src/services/functional/notification/Shopfloor.Notification.Infrastructure/obj
/src/services/functional/ambassador/Shopfloor.Ambassador.Api/bin
/src/services/functional/ambassador/Shopfloor.Ambassador.Api/obj
/src/services/functional/ambassador/Shopfloor.Ambassador.Application/bin
/src/services/functional/ambassador/Shopfloor.Ambassador.Application/obj
/src/services/functional/ambassador/Shopfloor.Ambassador.Domain/bin
/src/services/functional/ambassador/Shopfloor.Ambassador.Domain/obj
/src/services/functional/ambassador/Shopfloor.Ambassador.Infrastructure/bin
/src/services/functional/ambassador/Shopfloor.Ambassador.Infrastructure/obj
/src/services/functional/notification/Shopfloor.Notification/bin
/src/services/functional/notification/Shopfloor.Notification/obj
